---
import "../styles/global.css";
---

<>
<main class="text-3xl bg-yellow-50">
	<section class="text-center text-black">
		<h1>Welcome to the Designer's Cafe</h1>
		<p>Your one-stop solution for all design needs.</p>
	</section>
</main>


</>